<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS.css') }}">

    <!-- Add styles for the snackbar -->
   
</head>
<body>
    <h1 class="header">Bell Tor</h1>

    <div id="selectedIPBox">
        <script src="{{ url_for('static', filename='IPSelect.js') }}">
            
        </script>
    </div>

    <div id="dropArea" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
        <h5 class="h5">Drag files here to send</h5>
    </div>

    <div id="messageContainer">
        <label for="messageInput">Send Message:</label>
        <input type="text" id="messageInput" name="messageInput" placeholder="Enter message to send">
        <button type= "button" class = "button2" onclick="sendMessage()">Send</button>
    </div>

    <!-- Add the snackbar container -->
    <div id="snackbar">Message sent!</div>

    <script src="{{ url_for('static', filename='Drop.js') }}">
       
    </script>
</body>
</html>
